.bg
{
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.8);

  color: #fff;
}

.bg p
{
  font-size: 24pt;
}

#short-info
{
  font-size: 16pt;
  text-align: justify;
}

footer
{
  color: white;
}
